.fade-out {
  animation: fadeOut ease 6s;
  -webkit-animation: fadeOut ease 6s;
  -moz-animation: fadeOut ease 6s;
  -o-animation: fadeOut ease 6s;
  -ms-animation: fadeOut ease 6s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
