#header {
 width: 80%;
  h2 {
    font-family: 'Quattrocento', serif;
    letter-spacing: 1px;
  }

  p {
    font-size: 1.25em;
  }
}

ul#contact-list {
  position:absolute;
  top: 5%;
  right: 15%;

  li {
    display:inline;
    margin: 16px;
    font-size: 1em;
  }
}
