#contacts {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2vh 0;
  background-color: rgba(255, 255, 255, 1);
}
ul.contact-list {
  display:flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  padding: 0;
  margin: 0;

  li {
    display: inline;
    font-size: 1em;
    padding: 0;
  }
  .nav-link { cursor: pointer; }
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
  h2 {
    font-family: 'Quattrocento', serif;
    letter-spacing: 1px;
  }
  p { font-size: 1.25em; }

  #personal-summary {
    text-align: center;
    width: auto;
  }
}

@media(min-width: 374px) {
  #header {
    min-height: 95vh;
    padding-bottom:5vh;
    border-bottom: dashed 20px #d1bdf8;
    img.rounded-circle {
      width: 8em;
      margin-top: 5vh;
      margin-bottom: 2em;
      cursor: pointer;
    }
    h1{
      font-size: 3em;
    }
    h2 {
      font-family: 'Quattrocento', serif;
      letter-spacing: 1px;
    }
    p {
      font-size: 1.175em;
    }
   }
}

@media(min-width: 1300px ) {
  #contacts {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    font-size: 1.25em;
    z-index: 1;
    #outside-links { margin-left: 1em; }
  }
  #header {
    min-height: 90vh;
    border-bottom: dashed 20px #d1bdf8;

    img.rounded-circle {
      width: 14em;
      margin-bottom: 2vh;
      cursor: pointer;
    }
    h1{
      font-size: 4em;
    }
    h2 {
      font-family: 'Quattrocento', serif;
      font-size: 2.5em;
      letter-spacing: 1px;
      margin-bottom: 2vh;
    }
    p {
      font-size: 1.5em;
    }
   }

}
