.card.job {
  position:relative;
  width: 828px;
  height: 250px;
  margin-bottom: 24px;

  .job-dates {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 1.25em;
  }
}

@media(min-width:374px) {
  .card.job {
    width: 90%;
    height: auto;
    margin-bottom: 24px;
  }
  .job-takeaway {
    padding-top: 16px;
    border-top: 1px solid rgb(235, 234, 234)
  }
  #people-person-img {
    visibility:hidden;
  }
}

@media(min-width:1300px) {
  .card.job {
    width: 828px;
    height: 250px;
  }
  .job-details {
    padding-right: 8px;
  }
  .job-takeaway {
    padding-top: 0;
    border-top: 0;
    padding-left: 16px;
    border-left: 1px solid rgb(235, 234, 234);
  }
  #jobs-container {
    position:relative;
    #people-person-img {
      visibility:visible;
      position: absolute;
      width:200px;
      top: -24px;
      left: -100px;
      z-index:1;
    }
  }
}
