#page-two {
  display:flex;
  align-self: center;
  min-height: 75vh;
  padding-bottom:5vh;
  margin-bottom:3vh;
  border-bottom: dashed 20px #d1bdf8;

  #projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .slick-list {
    padding: 0;
    overflow: visible;
    padding-left: .75em;
    width: 100vw !important;
  }
  ul.slick-dots {
    margin-left: 0;
  }
}

 .project-img {
  position: absolute;
  right: 2vw;
  width: 150px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 .125rem .25rem rgba(black, .075); 
  opacity: .4;

  &:hover {
    opacity: .9;
  }
  &:active {
    opacity: 1;
    box-shadow: none;
  }
}

@media(min-width:300px) {
  #page-two {
    h2 { font-size: 2em; }
    p { font-size: 1.175em; }
    .card {
      height: 316px;
      p { font-size: 1.05em; }
    }
  }

  .card {
    position: relative;
    width: 350px;
    height: 290px;
    margin-bottom: 1em;
    padding: 1.5em;
    border-radius: 1.5em;
    border-color: rgb(240, 239, 239) !important;
    z-index: -1;

    &:hover { box-shadow: 0 .125rem .25rem rgba(black, .075); }

    h4 { letter-spacing: 2px; }

    .dev-skills {
      position: absolute;
      bottom: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      i {
        font-size:28px;
        margin-right: 4px;
      }
    }
  }
}

@media(min-width:800px){
  h2#projects-header { font-size: 3em; }
  p#projects-summary {
    width: auto;
    font-size: 1.5em;
  }
  #projects .card {
    position: relative;
    width: 550px;
    height: 340px;
    padding: 1.5em;
    margin: 1.5em;
    border-radius: 1.5em;
    border-color: rgb(240, 239, 239) !important;
    z-index: 0;

    &:hover { box-shadow: 0 .125rem .25rem rgba(black, .075); }

    h4 { letter-spacing: 2px; }
    p { font-size: 1.25em; }

    .dev-skills {
      position: absolute;
      bottom: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      i {
        font-size:40px;
        margin-right: 4px;
      }
    }
  }

  #start-date {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 1.25em;
    margin-bottom: 4px;
  }
}
