@media(min-width:300px) {
  .projects {
    display: inline-block;
  }
  .card {
    position:relative;
    width: 350px;
    height: 290px;
    padding: 1.5em;
    margin-right:0;
    margin-bottom: 2em;
    border-radius: 1.5em;
    border-color: rgb(240, 239, 239) !important;

    &:hover {
      box-shadow: 0 .125rem .25rem rgba(black, .075);
    }

    h4 {
      letter-spacing: 2px;
    }

    .dev-skills {
      position: absolute;
      bottom: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      i {
        font-size:28px;
        margin-right: 4px;
      }
    }
  }
}

@media(min-width:800px){

h2.my-4 {
  font-size: 3em;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.card {
  position:relative;
  width: 500px;
  height: 290px;
  padding: 1.5em;
  margin-right:0;
  border-radius: 1.5em;
  border-color: rgb(240, 239, 239) !important;

  &:hover {
    box-shadow: 0 .125rem .25rem rgba(black, .075);
  }

  h4 {
    letter-spacing: 2px;
  }

  .dev-skills {
    position: absolute;
    bottom: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    i {
      font-size:28px;
      margin-right: 4px;
    }
  }
}

#start-date {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  margin-bottom: 4px;
}
}
