#asterik-img {
  position:absolute;
  width: 175px;
  top: 17px;
  right:-120px;
}
.card {
  h5 {
    font-weight: 500;
  }
}
.card.language-skills {
  height: 100px;
}

.card.interests {
  height: 100px;
}

.card.school {
  height: 320px;
}
@media(max-width:400px) {
  .card.tech-skills {
    width: 90%;
    height: auto;
  }
  .card.language-skills {
    width: 90%;
    height: 100px;
  }
  .card.interests {
    width: 90%;
    height: 120px;
  }

  .card.school {
    width:90%;
    height: 350px;
  }
  #asterik-img {
    position:absolute;
    width: 175px;
    top: 76px;
    right:-30px;
  }
}
