#asterik-img {
  position:absolute;
  width: 175px;
  top: 7.5em;
  left: -8.75em;
  z-index:1;
}
.card h5 {
  font-weight: 500;
}

.card.tech-skills {
  width: 350px;
  height: 460px;
  margin: 0 1em;
  margin-bottom: 2em;
}

.card.school {
  width: 350px;
  height: 460px;
  margin: 0 1em;
  margin-bottom: 2em;
}

.card.language-skills {
  width: 350px;
  height: 460px;
  margin: 0 1em;
  margin-bottom: 2em;
}

@media(max-width:768px) {
  #asterik-img {
    visibility: hidden;
    position:absolute;
    width: 175px;
    top: 10em;
    left: -8.75em;
    z-index:1;
  }
}
