@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Josefin+Sans:wght@100;200;400&family=Quattrocento:wght@400;700&display=swap');
@import "./stylesheets/project.scss";
@import "./stylesheets/header.scss";
@import "./stylesheets/job.scss";
@import "./stylesheets/interests.scss";
@import "./stylesheets/skills.scss";
@import "./stylesheets/fade.scss";

:root {
  --animate-delay: 1.5s;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quattrocento', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-weight: 500;
  letter-spacing: 3px;
}

h1 {
  font-size: 4em;
}

p {
  font-size: 1.05em;
}

a, .nav-link {
  color: #8c52ff;
  text-decoration: none;
  &:hover {
    color: #d1bdf8;
  }
}

.container {
  padding-bottom: 4vh;
}

#experience-container {
  h2 { text-align: center; }
}

#skills-container {
  border-bottom: dashed 1px black;
  padding-bottom: 3vh;
  margin-bottom: 3vh;
  h2 { text-align: center; }

}

.down-arrow {
  width: 3em;
  cursor: pointer;
}

#app {
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
